body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.divTitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
  margin-top: 0;
}
.welcomeDiv {
  /* top: -10rem; */
}
.heroTxt {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
}
.moveDown {
  padding-top: 1.2rem;
}
.moveUp {
  margin-top: -6rem;
}
.heroImgDiv {
  background-color: rgba(0,0,0,0.6);
}
.heroDiv {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%,-50%);
}
.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: #66B4BC; */
  background-color: rgba(93, 211, 225, 0.8);
  height: 6rem;
  color: white;
  /* font-family: 'Khula', sans-serif; */
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  /* padding-top: 1rem; */
  font-size: 1.2rem;
}
.stickyTop a:hover {
  cursor: pointer;
}
.floorPlansStyle {
  width: 100%;
}
.welcomeDiv {
  text-align: left;
}
.welcomeTxt {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  color: #323232;
}

.photoGalleryDiv {
  height: 100%;
}

.ReactGridGallery_tile {
  margin: 0;
  padding: 0;
}
.contactDiv {
  color: #323232;
  text-align: left;
  height: 0vh;
}
.contactName {
  color: #323232;
  font-size: 1.5rem;
  
}

.parallaxTxt {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
}

.directLinks {
  color: blue;
}
.test1 {
  color: green;
}
.mr-auto {
  width: 100%;
  text-align: right;
}
.navbar-nav {
  color: white;
}
.rowLinks {
  width: 100%;
}

.timeCol {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.transportationDiv {
  /* height: 60vh; */
}

.timeTitle {
  font-family: 'Abril Fatface', cursive;
  color: #3D5C8F;
}

.timeTime {
  font-family: 'Prompt', sans-serif;
}
.welcomeIntro {
  font-family: 'Prompt', sans-serif;
  line-height: 2.6;
}

.sectionTitle {
  text-align: left;
}
.headerBrand {
  color: white;
  font-size: 1.3rem;
}




/* Media query */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
  .heroTxt {
    font-size: 4rem;
  }
  .stickyTop {
    font-size: 0.92rem;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .divTitle {
    font-size: 3rem;
  }
  .headerBrand {
    font-size: 0.92rem;
  }
  .directLinks {
    font-size: 0.80rem;
    padding: 0;
  }
  .contactName {
    font-size: 1rem;
  }
  .contactLink a {
    color: red;
    font-size: 0.8rem;
  }
}

.col-3 {
  padding: 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px){ 
  .stickyTop a {
    font-size: 1rem;
  }
  .contactLink a {
    color: red;
  }
  .divTitle {
    font-size: 2rem;
  }
  .contactDiv {
    height: 60vh;
    font-size: 0.8rem;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .directLinks {
    font-size: 0.90rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  .heroTxt {
    font-size: 10rem;
  }
  .stickyTop {
    font-size: 0.92rem;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

/* @media only screen and (min-width: 992px){ ... } */