body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
.lirrLogo {
  width: 15%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.divTitle {
  font-family: 'Saira Stencil One', cursive;
  font-size: 4rem;
  margin-top: 0;
  color: #323232;
}
.welcomeDiv {
  /* top: -10rem; */
  margin-top: 5rem;
  text-align: left;
}
.heroTxt {
  font-family: 'Saira Stencil One', cursive;
  font-size: 5rem;
}
.heroTxt p {
  width: 100%;
}
.moveDown {
  padding-top: 1.2rem;
}
.moveUp {
  margin-top: -7.3rem;
}
.contactInfoDiv {
  margin-top: 10rem;
}
.contactDiv {
  margin-top: 4rem;
}
.heroImgDiv {
  background-color: rgba(0,0,0,0.6);
}
.logo {
  width: 60%;
}
.parallaxDiv {
  background-color: rgba(0,0,0,0.6);
}
.secondParallaxTxt {
  font-family: 'Prompt';
  color: #323232;
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 3rem;
}
.secondParallaxTxt hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.heroDiv {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%,-50%);
}
.parallaxTxt {
  color: white;
  text-align: center;
}
.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(93, 211, 225, 0.8);
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}
.stickyTop a:hover {
  cursor: pointer;
}
.floorPlansStyle {
  width: 100%;
}
.welcomeTxt {
  font-family: 'Saira Stencil One', cursive;
  font-size: 3.66rem;
  color: #323232;
}

.photoGalleryDiv {
  height: 100%;
}

.ReactGridGallery_tile {
  margin: 0;
  padding: 0;
}
.contactDiv {
  color: #323232;
  text-align: left;
  height: 0vh;
}
.contactName {
  color: #323232;
  font-size: 1.5rem;
  
}

.parallaxTxt {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
}
.subTitle {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Prompt';
  padding-left: 1.5rem;
  /* padding-top: 0.5rem; */
  font-size: 3.5rem;
  margin-top: -9rem;
  font-weight: 800;
  color: white;
}
.react-parallax-content {
  text-align: left;
  left: 0;
}
.subTitle {
  width: 100vw;
  height: 100vh;
}
.directLinks a {
  color: red;
}
.test1 {
  color: green;
}
.mr-auto {
  width: 100%;
  text-align: right;
}
.bringMeHereDiv {
  text-align: center;
  color: red;
  margin-bottom: 2rem;
}
.bringMeHereDiv a {
  color: black;
  font-family: 'Prompt';
  font-size: 2rem;
  text-decoration: underline;
}
.navbar-nav {
  color: white;
}
.rowLinks {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  text-align: left;
}
.sevenTrain {
  background-color:	#9400D3;
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.gTrain {
  background-color:	rgb(91, 230, 91);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.eTrain {
  background-color:	rgb(58, 111, 227);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.mTrain {
  background-color:	rgb(255, 142, 22);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.timeCol {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
.transportationDiv {
  /* height: 60vh; */
}
.transportImgDiv {
  /* text-align: center; */
  /* margin: 0 auto; */
  margin-bottom: 3rem;
}
.directionsMapImg {
  width: 100%;
}

.timeTitle {
  font-family: 'Saira Stencil One', cursive;
  color: #323232;
}

.timeTime {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
}
.welcomeIntro {
  font-family: 'Prompt', sans-serif;
  line-height: 1.6;
}

.sectionTitle {
  padding-top: 5rem;
  text-align: left;
  height: 150vh;
}
.headerBrand {
  color: white;
  font-size: 1.3rem;
}
.locationImg {
  width: 100%;
}
.contactLink a {
  color: black;
  font-family: 'Prompt';
}


.sectionHeader {
  margin-top: 30rem;
  font-size: 3rem;
  margin-bottom: 10rem;
  width: 100%;
  top: 0;
  transform: rotate(-90deg);
  font-family: 'Saira Stencil One', cursive;
  /* Legacy vendor prefixes that you probably don't need... */
  
  /* Safari */
  -webkit-transform: rotate(-90deg);
  
  /* Firefox */
  -moz-transform: rotate(-90deg);
  
  /* IE */
  -ms-transform: rotate(-90deg);
  
  /* Opera */
  -o-transform: rotate(-90deg);
}
.sectionHeader p {
  width: 500%;
}

/* p {
  
  background: pink;
  margin: 1px 0;
  border: 1px solid black;
} */
.txtRotation-wrapper-outer {
  display: table;
}
.txtRotation-wrapper-inner {
  padding: 50% 0;
  height: 0;
}
.txtElement-to-rotate {
  display: block;
  transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
  transform: rotate(-90deg) translate(-100%);
  /* transform: rotate(90deg) translate(0, -100%); */
  margin-top: -50%;

  /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
  white-space: nowrap;
}

.element-to-rotate {
  white-space: nowrap;
}








/* Media query */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
  .rowLinks a {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
  .rowLinks {
    margin-top: 1rem;
  }
  .heroTxt {
    font-size: 4rem;
  }
  .stickyTop {
    font-size: 0.92rem;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .divTitle {
    font-size: 3rem;
  }
  .headerBrand {
    font-size: 0.92rem;
    display: none;
  }
  .directLinks {
    font-size: 0.80rem;
    padding: 0;
  }
  .directLinks a {
    color: white;
    font-size: 2rem;
  }
  .contactName {
    font-size: 1rem;
  }
  .contactLink a {
    color: black;
    font-size: 0.8rem;
  }
  .col-lg-2 {
    margin-right: 0.10rem;
  }
  .welcomeTxt {
    font-size: 2rem;
  }
}
.col-3 {
  padding: 0;
}
/* @media only screen and (min-width: 480px) and (max-width: 767px){ 
  .stickyTop a {
    font-size: 1rem;
  }
  .contactLink a {
    color: red;
  }
  .divTitle {
    font-size: 2rem;
  }
  .contactDiv {
    height: 60vh;
    font-size: 0.8rem;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .directLinks {
    font-size: 0.30rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  .heroTxt {
    font-size: 10rem;
  }
  .stickyTop {
    font-size: 0.92rem;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
} */

/* @media only screen and (min-width: 992px){ ... } */