body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
.lirrLogo {
  width: 15%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.distanceDiv {
  margin: 4rem 0;
}
.distanceCol {
  margin-bottom: 2rem;
}
.divTitle {
  font-family: 'Saira Stencil One', cursive;
  font-size: 4rem;
  margin-top: 0;
  color: #323232;
}
.welcomeDiv {
  margin-top: 5rem;
  text-align: left;
}
.heroTxt {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-size: 8rem;
}
.secondaryHeroTxt {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.heroTxt p {
  width: 100%;
}
.heroSubTxt {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
}
.moveDown {
  padding-top: 1.2rem;
}
.moveUp {
  margin-top: -7.3rem;
}
.contactInfoDiv {
  margin-top: 10rem;
}
.contactDiv {
  margin-top: 4rem;
}
.heroImgDiv {
  background-color: rgba(0,0,0,0.7);
}
.logo {
  width: 60%;
  filter: brightness(0) invert(1);
}
.parallaxDiv {
  background-color: rgba(0,0,0,0.6);
}
.secondParallaxTxt {
  font-family: 'Prompt';
  color: #323232;
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 3rem;
}
.secondParallaxTxt hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.heroDiv {
  position: absolute;
  top: 40%;
  color: white;
  left: 50%;
  text-align: center;
  width: 95%;
  transform: translate(-50%,-50%);
}
.parallaxTxt {
  color: white;
  text-align: center;
}
.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: rgba(93, 211, 225, 0.8); */
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
}
.stickyTop a:hover {
  cursor: pointer;
}
.floorPlansStyle {
  width: 100%;
}
.welcomeTxt {
  font-family: 'Saira Stencil One', cursive;
  font-size: 3.66rem;
  color: #323232;
  text-align: left;
}

.photoGalleryDiv {
  height: 100%;
}

.ReactGridGallery_tile {
  margin: 0;
  padding: 0;
}
.contactDiv {
  color: #323232;
  text-align: left;
}
.contactName {
  color: #323232;
  font-size: 1.5rem;
  
}

.parallaxTxt {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
}
.subTitle {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Prompt';
  padding-left: 1.5rem;
  /* padding-top: 0.5rem; */
  font-size: 3.5rem;
  margin-top: -9rem;
  font-weight: 800;
  color: white;
}
.react-parallax-content {
  text-align: left;
  left: 0;
}
.subTitle {
  width: 100vw;
  height: 100vh;
}
.test1 {
  color: green;
}
.mr-auto {
  width: 100%;
  text-align: right;
}
.bringMeHereDiv {
  text-align: center;
  color: red;
  margin-bottom: 2rem;
}
.bringMeHereDiv a {
  color: black;
  font-family: 'Prompt';
  font-size: 2rem;
  text-decoration: underline;
}
.navbar-nav {
  color: white;
}
.rowLinks {
  font-weight: 800;
  width: 100%;
  text-align: left;
  margin-left: 20rem;
  /* color: rgb(121, 242, 255); */
}
.sevenTrain {
  background-color:	#9400D3;
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.gTrain {
  background-color:	rgb(91, 230, 91);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.eTrain {
  background-color:	rgb(58, 111, 227);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.mTrain {
  background-color:	rgb(255, 142, 22);
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
.timeCol {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
.transportationDiv {
  /* height: 60vh; */
}
.transportImgDiv {
  /* text-align: center; */
  /* margin: 0 auto; */
  margin-bottom: 3rem;
}
.directionsMapImg {
  width: 100%;
}

.timeTitle {
  font-family: 'Saira Stencil One', cursive;
  color: #323232;
}

.timeTime {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
}
.welcomeIntro {
  font-family: 'Prompt', sans-serif;
  line-height: 1.6;
}

.sectionTitle {
  /* padding-top: 5rem; */
  margin-top: 3rem;
  text-align: left;
  padding-top: 5rem;
}
.headerBrand {
  color: white;
  font-size: 1.3rem;
  padding:0;
  margin: 0;
  font-weight: bold;
}
.headerBrand b {
  /* font-family: 'Abril Fatface'; */
}
.locationImg {
  width: 100%;
}
.contactLink a {
  color: black;
  font-family: 'Prompt';
}

/* p {
  
  background: pink;
  margin: 1px 0;
  border: 1px solid black;
} */
.txtRotation-wrapper-outer {
  display: table;
}
.txtRotation-wrapper-inner {
  padding: 50% 0;
  height: 0;
}
.txtElement-to-rotate {
  display: block;
  transform-origin: top left;
  /* Note: for a CLOCKWISE rotation, use the commented-out
  transform instead of this one. */
  transform: rotate(-90deg) translate(-100%);
  /* transform: rotate(90deg) translate(0, -100%); */
  margin-top: -50%;
  
  /* Not vital, but possibly a good idea if the element you're rotating contains
  text and you want a single long vertical line of text and the pre-rotation
  width of your element is small enough that the text wraps: */
  white-space: nowrap;
}
.topAdd {
  font-size: 0.3rem;
  color: white;
  padding: 0;
  margin: 0;
}
.headerBrand hr {
  padding: 0;
  margin: 0;
  background-color: white;
}
.transportationImgDiv {
  margin: 1.5rem 3rem;
  /* margin-top: 1.5rem;
  margin-right
  margin-bottom: 1.5rem; */
}
.element-to-rotate {
  white-space: nowrap;
}
.headerBrand span {
  font-size: 0.9rem;
}

.secondaryTxt {
  font-size: 3rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-family: 'Abril Fatface', cursive;
}
.transportationOptionsRow {
  text-align: center;
  font-family: 'Prompt';
}
.transportationOptionsRow p {
  margin: 0;
  padding: 0;
}

.distanceMiles {
  /* font-weight: bold; */
  /* color: #0054C0; */
  font-size: 1.8rem;
  font-family: 'Abril Fatface', cursive;
}
.footerTxt {
  color: rgb(72, 72, 72);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Prompt';
  text-align: right;
}
.footerDiv {
  margin-top: 5rem;
  background-color: black;
}
.scrolled {
  /* background-color: rgba(46, 149, 193, 0.95); */
  background-color: rgba(0, 111, 159, 0.65);
  box-shadow: 0 0.03rem 0.5rem rgba(0, 0, 0, 0.50), 0 0 0 rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}
/* .scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.03rem 0.5rem rgba(0, 0, 0, 0.50), 0 0 0 rgba(0, 0, 0, 0.8);
  transition: 0.4s;
} */


/* Media query */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
  .parallaxTxt {
    font-size: 3rem;
  }
  .floorPlansStyle {
    width: 100%;
  }
  
  .heroDiv {
    position: absolute;
    top: 55%;
    color: white;
    left: 50%;
    width: 95%;
    text-align: center;
    transform: translate(-50%,-50%);
  }
  .heroSubTxt {
    font-size: 0.8rem;
  }
  .secondaryHeroTxt {
    font-size: 1rem;
  }
  .rowLinks a {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
  .rowLinks {
    margin-top: 1rem;
    margin-left: 0;
  }
  .heroTxt {
    font-size: 3rem;
  }
  .heroTxt p {
    text-align: center;
  }
  .stickyTop {
    font-size: 0.92rem;
    text-align: center;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .divTitle {
    font-size: 3rem;
  }
  .headerBrand {
    font-size: 0.92rem;
    display: none;
    /* top: 3rem; */
  }
  .directLinks {
    font-size: 0.80rem;
    padding: 0;
    color: red;
    margin-right: 1rem;
  }
  .directLinks a {
    font-size: 0.80rem;
  }
  .contactName {
    font-size: 1rem;
  }
  .contactLink a {
    color: black;
    font-size: 0.8rem;
  }
  .col-lg-2 {
    margin-right: 0.10rem;
  }
  .welcomeTxt {
    font-size: 2rem;
  }
}
.col-3 {
  padding: 0;
}


/* @media only screen and (min-width: 480px) and (max-width: 767px){ 
  .stickyTop a {
    font-size: 1rem;
  }
  .contactLink a {
    color: red;
  }
  .divTitle {
    font-size: 2rem;
  }
  .contactDiv {
    height: 60vh;
    font-size: 0.8rem;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .directLinks {
    font-size: 0.30rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  .heroTxt {
    font-size: 10rem;
  }
  .stickyTop {
    font-size: 0.92rem;
  }
  .contactDiv {
    height: 60vh;
  }
  .timeCol {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
} */

/* @media only screen and (min-width: 992px){ ... } */